<h1>Crear Producto</h1>
<div class="container">
	<form id="idForm">
		<div class="row">
			<div class="col-12 col-sm-12 mb-3">
				<label for="title">Título</label>
				<input type="text" required name = "title" id = "title">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 mb-3">
				<label for="description">Descripción</label>
				<input type="text" required name = "description" id ="description">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-12 mb-3">
				<label for="category">Categoría</label>
				<input type="text" required name="category" id ="category">
			</div>
		</div>
		<div class="row">
			<div class="col-12 col-sm-4 mb-3">
				<label for="price">Precio</label>
				<input type="number" required name="price" id="price">
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<label for="stock">Stock</label>
				<input type="number" required name="stock" id="stock">
			</div>
			<div class="col-12 col-sm-4 mb-3">
				<label for="code">Código</label>
				<input type="text" required name="code" id="code">
			</div>
			
		</div>
		<button type="submit" id="guardar">Guardar</button>
	</form>

</div>